body {
  background-color: #000;
}

#landing-header {
  z-index: 1;  /* in page we have x - left right,
  y - up and down
  ,z - back and forword
  if z 1 its mean that its comming forward to us*/
  position: relative;
  /*we change position from static(default) to relative 
  because of z*/
  text-align: center;
  /* center the text and the buttons */
  padding-top: 40vh;
  /* center it vertically on the */
}

#landing-header h1 {
    /* chhange color of the header*/
  color: #fff;
}

.slideshow { 
  position: fixed; /* */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0; /*set the background images are behind the other content */
  list-style: none; /*move the bullet points from the list items */
  margin: 0;
  padding: 0;
}

.slideshow li { /*select each item in the li */
  width: 100%;
  height: 100%;
  position: absolute; /* */
  top: 0;
  left: 0;
  background-size: cover; /*allow the images take the inteire space of the page */
  background-position: 50% 50%; /*center the images perfectlu on the page */
  background-repeat: no-repeat;
  opacity: 0; /* we want the images to start */
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
  
}


.slideshow li:nth-child(1) { 
  background-image: url(http://i.imgur.com/K3mPv14.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(http://i.imgur.com/SBEmFpv.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(http://i.imgur.com/emvhOnb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

/*give animation to our images
/* we start the animation at 0 */
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}